{% extends 'base.html' %} {% block title %}About Me{% endblock %}{% block
description %}"About DillonB07. Includes skills, hobbies, socials and more!"{%
endblock %} {% block content %}
<h1>About Me</h1>
<div class="card">
  <h3>About Me</h3>
  <blockquote>
    "Everyone in this country should learn to program a computer, because it
    teaches you how to think" - Steve Jobs
  </blockquote>
  <p>
    I'm a teen web developer, who enjoys working on interesting projects using
    Python's Flask Framework. I occasionally use Django for more complicated
    projects or projects that use React. I use Python the most for my projects,
    but I am learning JavaScript as well. I know decent HTML and some basic CSS.
    My original website that I created using just HTML, CSS and basic JavaScript
    is available here:
    <a href="https://coding.dillonbarnes.co.uk" target="_blank"
      >https://coding.dillonbarnes.co.uk</a
    >
  </p>
  <br /><br /><br />
  <h4>My Interests</h4>
  <p>
    I like to play some games like Animal Crossing and Minecraft. I also like
    reading magical or fantasy books like the Harry Potter series. In my spare
    time, I enjoy playing/solving puzzle games as a way to relax.
  </p>
  <h4>My Languages/Frameworks</h4>
  <ul class="horizontal">
    <li>
      <a href="https://www.w3schools.com/html/html_intro.asp" target="_blank">
        <img
          src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white"
          alt="HTML5"
      /></a>
    </li>
    <li>
      <a href="https://www.markdownguide.org/" target="_blank">
        <img
          src="https://img.shields.io/badge/markdown-%23000000.svg?style=for-the-badge&amp;logo=markdown&amp;logoColor=white"
          alt="Markdown"
      /></a>
    </li>
    <li>
      <a href="https://python.org/" target="_blank">
        <img
          src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&amp;logo=python&amp;logoColor=ffdd54"
          alt="Python"
      /></a>
    </li>
    <li>
      <a href="https://www.djangoproject.com/" target="_blank">
        <img
          src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&amp;logo=django&amp;logoColor=white"
          alt="Django"
      /></a>
    </li>
    <li>
      <a href="https://flask.palletsprojects.com/" target="_blank">
        <img
          src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&amp;logo=flask&amp;logoColor=white"
          alt="Flask"
      /></a>
    </li>
  </ul>
  <h4>My Links</h4>
  <ul class="horizontal">
    <li>
      <a href="https://github.com/DillonB07" target="_blank">
        <img
          alt="Website"
          src="https://img.shields.io/website?down_color=lightgreen&down_message=DillonB07&label=GitHub&logo=github&up_color=lightgreen&up_message=DillonB07&url=https%3A%2F%2Fgithub.com%2FDillonB07"
      /></a>
    </li>

    <li>
      <a href="https://replit.com/@DillonB07" target="_blank">
        <img
          alt="Website"
          src="https://img.shields.io/website?down_color=lightgreen&down_message=DillonB07&label=Replit&logo=replit&logoColor=darkgrey&up_color=lightgreen&up_message=DillonB07&url=https%3A%2F%2Freplit.com%2F%40DillonB07"
      /></a>
    </li>
  </ul>
</div>
<div class="container">
  <a class="button" href="/">Back</a>
</div>
{% endblock %}
