<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="p65fGVTT2YxK7TaihQiFyeI4uKBK7-Duh5CvHtmb77A"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <title>{% block title %}DillonB07{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/back.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <!-- Load extra languages here langauge list: https://highlightjs.org/download/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/django.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/plaintext.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
