{% extends 'base.html' %} {% block title %}Contact{% endblock %} {% block head
%}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %} {% block content %}
<h1>Contact Me</h1>
<div class="card container">
  <p>Want to send me a message? You can do it here!</p>
  <form
    id="fs-frm"
    name="simple-contact-form"
    accept-charset="utf-8"
    action="https://formspree.io/f/xgerdyvv"
    method="POST"
    enctype="multipart/form-data"
  >
    <fieldset id="fs-frm-inputs">
      <label for="name"
        >Name
        <input
          type="text"
          name="Name"
          id="name"
          placeholder="Dillon Barnes"
          required
      /></label>
      <label for="email"
        >Email Address
        <input
          type="email"
          name="Email"
          id="email"
          placeholder="dillon@example.com"
          required
      /></label>
      <label for="subject"
        >Subject
        <input
          type="text"
          name="Subject"
          id="subject"
          placeholder="Contact Form"
          required
      /></label>
      <label for="message"
        >Message<br />
        <textarea
          rows="5"
          name="Message"
          id="message"
          placeholder="Message..."
          required
        ></textarea>
      </label>
      <p>Are you a robot?</p>
      <div
        id="captcha"
        class="g-recaptcha"
        data-sitekey="6Le2I40cAAAAAHbv5VvYLTKWpOUbycRmf3knNbfg"
      ></div>
    </fieldset>
    <br />
    <input id="submit" type="submit" value="Submit" />
  </form>
</div>
<div class="container">
  <a class="button" href="/">Back</a>
</div>
{% endblock %}
