{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<div id="content">
  <img
    src="{{ url_for('static', filename='images/DillonB07.png') }}"
    alt="DillonB07"
    width="25%"
    height="25%"
    class="img-center"
  />

  <h1>DillonB07</h1>

  <div class="typingbody">
    I am a
    <span class="type">
      <span>
        <span>Developer</span>
        <span>Web Designer</span>
        <span>Programmer</span>
        <span>Human</span>
      </span>
    </span>
  </div>

  <div id="box">Hi! I'm DillonB07, and welcome to my portfolio!</div>

  <ul class="links">
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/contact">Contact Me</a></li>
    <li><a href="/tutorials">tutorials</a></li>
  </ul>
</div>

{% endblock %}
