{% extends 'base.html' %} {% block title %}A Guide to Password Hashing{%
endblock %} {% block content %}
<h1>A Guide to Password Hashing</h1>
<div class="card">
  <a
    class="center"
    href="https://replit.com/talk/share/repl-post/146310"
    target="_blank"
  >
    <img
      src="https://replit-badge.vercel.app/api?id=146310&style=gradient&featuredOn=VIEW%20ON&replTalk=Repl%20Learn"
      alt="Repl Talk Badge"
    />
  </a>
  <h2>What is Password Hashing</h2>

  <p>
    Passwords are something that pretty much everyone has! And, under the Data
    Protection Act of 1998(UK), all passwords must be kept safe and secure. If a
    hacker gains access to passwords, then you are responsible for not keeping
    them secure.
  </p>

  <p>So, what's the solution?</p>

  <p>
    Password hashing is converting passwords to a string of characters that
    can't be turned back into the password. Think of it like this:.
  </p>

  <pre>
      <code class='python'>
password = 'hello world' # password is set
hashword = hash(password) # password gets hashed
password != unhash(password) # password can't be unhashed with our knowledge of maths
      </code>
  </pre>

  <h2>Example</h2>

  <p>I've written a Python script to hash a string:</p>

  <pre>
      <code class='python'>
from werkzeug.security import generate_password_hash # pip install werkzeug

password = 'hello world'
hashword = generate_password_hash(password, 'sha256')

print(hashword)
      </code>
  </pre>

  <p>
    Output:
    <code
      >ha256$Wz1CerC5MmrinjlW$56f1b796758634f1c17640dcfbc1905938a20caa3434c0ec8ca09fd8cdc9669d</code
    >
  </p>

  <p>So, what does this do?</p>

  <p>
    Well, <code>werkzeug</code> is a python package developed by
    palletsprojects, the creators of the Flask framework.
    <code>werkzeug</code> means <code>tools</code> in German.
  </p>

  <p>
    Anway, <code>werkzeug</code> has a security file with a function called
    <code>generate_password_hash</code>. This hashes the password that you pass
    to it. You also need to pass a hashing method to it. I used
    <code>sha256</code> which is one of the most popular hashing methods.
  </p>

  <p>
    Once hashed, the password becomes a long string of letters and numbers. The
    <code>ha256</code> at the beginning of the hashed password defines the
    hashing method that was used.
  </p>

  <p>
    Repl:
    <a
      href="https://replit.com/@DillonB07/pseudo-randomNumbersDemo"
      target="_blank"
      >@DillonB07/pseudo-randomNumbersDemo</a
    >
  </p>

  <h2>Benefits</h2>

  <p>The benefits of hashing a password are that:</p>
  <ul>
    <li>You can't find the original password with our knowledge of maths.</li>
    <li>
      The original password isn't stored in the database, so data is useless to
      hackers
    </li>
    <li>More security for open source websites!</li>
  </ul>

  <h2>How to hash</h2>

  <p>
    As I mentioned earlier, <code>werkzeug</code> is a great python module for
    hashing!
  </p>

  <pre>
      <code class='python'>
from werkzeug.security import generate_password_hash, check_password_hash
      </code>
  </pre>

  <ul>
    <li>
      <code>generate_password_hash</code> hashes the password that you give it.
    </li>
    <li>
      <code>check_password_hash</code> can be used to check if the inputted
      password is the same as the hashed password. More on this later.
    </li>
  </ul>

  <p>
    You might think that you could hash the inputted password and compare it to
    the password in the database, but you can't because it gets hashed
    differently. This is demonstrated here:
  </p>

  <pre>
      <code class='python'>
password = 'hello world'
hashword = generate_password_hash(password, 'sha256')
print(f'1: {hashword}')

password1 = 'hello world'
hashword1 = generate_password_hash(password1, 'sha256')
print(f'2: {hashword1}')
      </code>
  </pre>

  <p>
    Output:<br />1:
    sha256$hoRRG7sXinkSjcBY$5ede7c11b9658239e9319f97ea2da55ef5044e87b5311bce3c230ce155f31a35<br />
    2:
    sha256$iDw7mL3jt6Jyf7D5$1a8e1f5cacf6e3bb33dd59548c05e515fff4d59354a63463025858a3f95286aa
  </p>

  <p>Now, let's check if these passwords are the same:</p>

  <pre>
      <code class='python'>
from werkzeug.security import generate_password_hash, check_password_hash

password = 'hello world'
hashword = generate_password_hash(password, 'sha256')
print(f'1: {hashword}')

password1 = 'hello world'
hashword1 = generate_password_hash(password1, 'sha256')
print(f'2: {hashword1}')

checked = check_password_hash(hashword, password1)
print(checked)
      </code>
  </pre>

  <p>
    Output: <br />1:
    sha256$0pMTuRIPZAgIY9rj$7c0f65d63608f483d4e0c8713b0ec7a725b8db102cd01a22a5dcd5dd5e278a5b<br />
    2:
    sha256$HkBW2kGoKAobLNbH$6b4e6e091ea619e3e3a62a998da91f651dc753e7794291987e648d8c22b90c87<br />
    True
  </p>

  <p>
    To use <code>check_password_hash</code>, you need to pass the hashed
    password, and the raw password to check it with. If the passwords are the
    same, <code>check_password_hash</code> will return <code>True</code>. If it
    isn't, you'll get <code>False</code>.
  </p>

  <a
    class="center"
    href="https://replit.com/talk/share/repl-post/146310"
    target="_blank"
  >
    <img
      src="https://replit-badge.vercel.app/api?id=146310&style=gradient&featuredOn=VIEW%20ON&replTalk=Repl%20Learn"
      alt="Repl Talk Badge"
    />
  </a>
</div>
<div class="container">
  <a class="button" href="/tutorials">Back</a>
</div>
{% endblock %}
